In [1]:
# Add pandas dependency
import pandas as pd
import os

In [2]:
schoolData_Load = os.path.join("Resources/schools_complete.csv")
studentData_Load = os.path.join("Resources/students_complete.csv")

In [3]:
#reading data
schoolData = pd.read_csv(schoolData_Load)
studentData = pd.read_csv(studentData_Load)

In [4]:
schoolData.tail()

    School ID            school_name      type  size   budget
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [5]:
studentData.head(100)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
95,95,Kevin Martinez,M,11th,Huang High School,89,58
96,96,Jessica Smith,F,9th,Huang High School,77,72
97,97,Dawn Trujillo,F,11th,Huang High School,82,87
98,98,Virginia Ramirez MD,F,10th,Huang High School,99,89
99,99,Marc Hernandez,M,10th,Huang High School,87,63

In [6]:
studentData.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
schoolData.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [8]:
studentData.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [9]:
preNsuf = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

for word in preNsuf:
    studentData["student_name"] = studentData["student_name"].str.replace(word, "")

<ipython-input-9-b2cc4c011d1e>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  studentData["student_name"] = studentData["student_name"].str.replace(word, "")

In [10]:
studentData

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [11]:
districtData = pd.merge(studentData, schoolData, on=["school_name","school_name"])
districtData.head(100)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
95,95,Kevin Martinez,M,11th,Huang High School,89,58,0,District,2917,1910635
96,96,Jessica Smith,F,9th,Huang High School,77,72,0,District,2917,1910635
97,97,Dawn Trujillo,F,11th,Huang High School,82,87,0,District,2917,1910635
98,98,Virginia Ramirez,F,10th,Huang High School,99,89,0,District,2917,1910635
99,99,Marc Hernandez,M,10th,Huang High School,87,63,0,District,2917,1910635

In [12]:
studentCount = districtData["Student ID"].count()
studentCount

39170

In [13]:
schoolCount = len(districtData["school_name"].unique())
schoolCount

15

In [14]:
budget = schoolData["budget"].sum()
budgetR = (f"{budget:,}")
budgetR

'24,649,428'

In [15]:
avgRscore = districtData["reading_score"].mean()
avgRscore

81.87784018381414

In [16]:
avgMscore = districtData["math_score"].mean()
avgMscore

78.98537145774827

In [17]:
passingM = districtData[districtData["math_score"] >= 70]
passingR = districtData["reading_score"] >= 70

passingM.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [18]:
passingR = districtData[districtData["reading_score"] >= 70]

passingR.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [19]:
passingMcount = len(passingM)
passingMcount

29370

In [20]:
passingRcount = len(passingR)
passingRcount

33610

In [21]:
totalStudents = districtData["student_name"].count()
totalStudents

39170

In [22]:
passingMpercent = passingMcount / float(totalStudents) * 100
passingRpercent = passingRcount / float(totalStudents) * 100

print(passingMpercent)
print(passingRpercent)

74.9808526933878
85.80546336482001

In [23]:
passingMR = districtData[(districtData["reading_score"] >= 70) & (districtData["math_score"] >= 70)]
passingMRcount = len(passingMR)

In [24]:
passingMRpercent = passingMRcount / float(totalStudents) * 100
passingMRpercent

65.17232575950983

In [25]:
districtSum = pd.DataFrame([{"Total Schools" : schoolCount,
                            "Total Students" : totalStudents,
                           "Total Budget" : budget,
                           "Average Math Score" : avgMscore,
                           "Average Reading Score" : avgRscore,
                           "% Passing Math" : passingMpercent,
                           "% Passing Reading" : passingRpercent,
                           "% Overall Passing" : passingMRpercent}])
districtSum

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [26]:
#creating our first function

def passingMcalc(passingMcount, totalStudents):
    return passingMcount / float(totalStudents) * 100

In [27]:
passingMcalc(passingMcount,totalStudents)

74.9808526933878

In [28]:
districtSum["Total Students"] = districtSum["Total Students"].map("{:,}".format)

In [29]:
districtSum

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170",24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [30]:
districtSum["Total Budget"] = districtSum["Total Budget"].map("${:,.2f}".format)

districtSum

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [31]:
def formAvg(column):
    districtSum[column] = districtSum[column].map("{:.1f}".format)
    
def formPerc(column):
    districtSum[column] = districtSum[column].map("{:.0f}".format)

In [32]:
formAvg("Average Math Score")
formAvg("Average Reading Score")

In [33]:
districtSum

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,74.980853,85.805463,65.172326

In [34]:
formPerc("% Passing Math")

In [35]:
formPerc("% Passing Reading")

In [36]:
formPerc("% Overall Passing")

In [37]:
districtSum

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [38]:
newColumnOrder = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

districtSum = districtSum[newColumnOrder]

districtSum

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [39]:
schoolTypes = schoolData.set_index(["school_name"])["type"]

schoolTypes

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [40]:
df = pd.DataFrame(schoolTypes)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [41]:
schoolCounts = schoolData["size"]

schoolCounts

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [42]:
schoolCounts = schoolData.set_index(["school_name"])["size"]
schoolCounts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [43]:
schoolCounts = districtData["school_name"].value_counts()

schoolCounts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [44]:
schoolBudget = schoolData.set_index(["school_name"])["budget"]
schoolBudget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [45]:
schoolCapita = schoolBudget / schoolCounts
schoolCapita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [46]:
schoolMath = districtData.groupby(["school_name"])["math_score"].mean()

schoolMath

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [47]:
schoolRead = districtData.groupby(["school_name"])["reading_score"].mean()

schoolRead

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [48]:
perSchoolPassingM = districtData[(districtData["math_score"] >= 70)]
perSchoolPassingR = districtData[(districtData["reading_score"] >= 70)]
perSchoolPassingM.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [49]:
perSchoolPassingM = perSchoolPassingM.groupby(["school_name"]).count()["student_name"]

In [50]:
perSchoolPassingM

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [51]:
perSchoolPassingR = perSchoolPassingR.groupby(["school_name"]).count()["student_name"]
perSchoolPassingR

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [52]:
perSchoolPassingMPerc = perSchoolPassingM/schoolCounts * 100
perSchoolPassingMPerc

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [53]:
perSchoolPassingRPerc = perSchoolPassingR/schoolCounts * 100
perSchoolPassingRPerc

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [54]:
perPassingMR = districtData[(districtData["math_score"] >= 70) & (districtData["reading_score"] >= 70)]
perPassingMR.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [55]:
perPassingMR = perPassingMR.groupby(["school_name"]).count()["student_name"]

In [56]:
perPassingMR

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [57]:
perPassingMRPerc = perPassingMR / schoolCounts * 100

In [58]:
perPassingMRPerc

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [59]:
perSchoolSum = pd.DataFrame({ "School Type": schoolTypes,
             "Total Students": schoolCounts,
             "Total School Budget": schoolBudget,
             "Per Student Budget": schoolCapita,
             "Average Math Score": schoolMath,
           "Average Reading Score": schoolRead,
           "% Passing Math": perSchoolPassingMPerc,
           "% Passing Reading": perSchoolPassingRPerc,
           "% Overall Passing": perPassingMRPerc})
perSchoolSum.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [60]:
def formAvgPer(column):
    perSchoolSum[column] = perSchoolSum[column].map("{:.1f}".format)
    
def formPercPer(column):
    perSchoolSum[column] = perSchoolSum[column].map("{:.2f}".format)
def formBudg(column):
    perSchoolSum[column] = perSchoolSum[column].map("${:,.2f}".format)

In [61]:
formAvgPer("Average Math Score")

In [62]:
formAvgPer("Average Reading Score")
formPercPer("% Passing Math")
formPercPer("% Passing Reading")
formPercPer("% Overall Passing")
formBudg("Total School Budget")
formBudg("Per Student Budget")

In [63]:
perSchoolSum.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.0,81.0,66.68,81.93,54.64
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.1,84.0,94.13,97.04,91.33
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.7,81.2,65.99,80.74,53.20
Ford High School,District,2739,"$1,763,916.00",$644.00,77.1,80.7,68.31,79.30,54.29
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.4,83.8,93.39,97.14,90.60

In [64]:
topSchools = perSchoolSum.sort_values(["% Overall Passing"], ascending=False)
topSchools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.1,84.0,94.13,97.04,91.33
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.4,83.8,93.27,97.31,90.95
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.4,83.8,93.39,97.14,90.60
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.3,84.0,93.87,96.54,90.58
Pena High School,Charter,962,"$585,858.00",$609.00,83.8,84.0,94.59,95.95,90.54

In [65]:
bottomSchools = perSchoolSum.sort_values(["% Overall Passing"])
bottomSchools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.8,80.7,66.37,80.22,52.99
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.7,81.2,65.99,80.74,53.20
Huang High School,District,2917,"$1,910,635.00",$655.00,76.6,81.2,65.68,81.32,53.51
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.3,80.9,66.75,80.86,53.53
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.1,81.0,66.06,81.22,53.54

In [66]:
ninthGraders = districtData[(districtData["grade"] == "9th")]
tenthGraders = districtData[(districtData["grade"] == "10th")]
eleventhGraders = districtData[(districtData["grade"] == "11th")]
twelfthGraders = districtData[(districtData["grade"] == "12th")]

In [67]:
ninthGraders

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130

In [68]:
ninthMAvg = ninthGraders.groupby(["school_name"]).mean()["math_score"]
tenthMAvg = tenthGraders.groupby(["school_name"]).mean()["math_score"]
eleventhMAvg = eleventhGraders.groupby(["school_name"]).mean()["math_score"]
twelfthMAvg = twelfthGraders.groupby(["school_name"]).mean()["math_score"]

In [69]:
eleventhMAvg

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [70]:
ninthRAvg = ninthGraders.groupby(["school_name"]).mean()["reading_score"]
tenthRAvg = tenthGraders.groupby(["school_name"]).mean()["reading_score"]
eleventhRAvg = eleventhGraders.groupby(["school_name"]).mean()["reading_score"]
twelfthRAvg = twelfthGraders.groupby(["school_name"]).mean()["reading_score"]

In [71]:
twelfthRAvg

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [72]:
mathScoresByGrade = pd.DataFrame({
                "9th": ninthMAvg,
               "10th": tenthMAvg,
               "11th": eleventhMAvg,
               "12th": twelfthMAvg})

In [73]:
mathScoresByGrade.head()

                            9th       10th       11th       12th
school_name
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

In [74]:
readingScoresByGrade = pd.DataFrame({
                "9th": ninthRAvg,
               "10th": tenthRAvg,
               "11th": eleventhRAvg,
               "12th": twelfthRAvg})

readingScoresByGrade.head()

                            9th       10th       11th       12th
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

In [75]:
def formatMGradeAvg(column):
    mathScoresByGrade[column] = mathScoresByGrade[column].map("{:.1f}".format)

def formatRGradeAvg(column):
    readingScoresByGrade[column] = readingScoresByGrade[column].map("{:.1f}".format)

In [76]:
formatMGradeAvg("9th")
formatMGradeAvg("10th")
formatMGradeAvg("11th")
formatMGradeAvg("12th")

In [77]:
formatRGradeAvg("9th")
formatRGradeAvg("10th")
formatRGradeAvg("11th")
formatRGradeAvg("12th")

In [78]:
readingScoresByGrade

                        9th  10th  11th  12th
school_name
Bailey High School     81.3  80.9  80.9  80.9
Cabrera High School    83.7  84.3  83.8  84.3
Figueroa High School   81.2  81.4  80.6  81.4
Ford High School       80.6  81.3  80.4  80.7
Griffin High School    83.4  83.7  84.3  84.0
Hernandez High School  80.9  80.7  81.4  80.9
Holden High School     83.7  83.3  83.8  84.7
Huang High School      81.3  81.5  81.4  80.3
Johnson High School    81.3  80.8  80.6  81.2
Pena High School       83.8  83.6  84.3  84.6
Rodriguez High School  81.0  80.6  80.9  80.4
Shelton High School    84.1  83.4  84.4  82.8
Thomas High School     83.7  84.3  83.6  83.8
Wilson High School     83.9  84.0  83.8  84.3
Wright High School     83.8  83.8  84.2  84.1

In [79]:
mathScoresByGrade.index.name = None
readingScoresByGrade.index.name = None

In [81]:
mathScoresByGrade.head()

                       9th  10th  11th  12th
Bailey High School    77.1  77.0  77.5  76.5
Cabrera High School   83.1  83.2  82.8  83.3
Figueroa High School  76.4  76.5  76.9  77.2
Ford High School      77.4  77.7  76.9  76.2
Griffin High School   82.0  84.2  83.8  83.4

In [82]:
readingScoresByGrade.head()

                       9th  10th  11th  12th
Bailey High School    81.3  80.9  80.9  80.9
Cabrera High School   83.7  84.3  83.8  84.3
Figueroa High School  81.2  81.4  80.6  81.4
Ford High School      80.6  81.3  80.4  80.7
Griffin High School   83.4  83.7  84.3  84.0