In [1]:
# Add pandas dependency
import pandas as pd
import os

In [2]:
schoolData_Load = os.path.join("Resources/schools_complete.csv")
studentData_Load = os.path.join("Resources/students_complete.csv")

In [3]:
#reading data
schoolData = pd.read_csv(schoolData_Load)
studentData = pd.read_csv(studentData_Load)

In [4]:
schoolData.tail()

    School ID            school_name      type  size   budget
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [5]:
studentData.head(100)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
95,95,Kevin Martinez,M,11th,Huang High School,89,58
96,96,Jessica Smith,F,9th,Huang High School,77,72
97,97,Dawn Trujillo,F,11th,Huang High School,82,87
98,98,Virginia Ramirez MD,F,10th,Huang High School,99,89
99,99,Marc Hernandez,M,10th,Huang High School,87,63

In [6]:
studentData.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
schoolData.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [8]:
studentData.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [9]:
preNsuf = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

for word in preNsuf:
    studentData["student_name"] = studentData["student_name"].str.replace(word, "")

<ipython-input-9-b2cc4c011d1e>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  studentData["student_name"] = studentData["student_name"].str.replace(word, "")

In [10]:
studentData

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [11]:
districtData = pd.merge(studentData, schoolData, on=["school_name","school_name"])
districtData.head(100)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
95,95,Kevin Martinez,M,11th,Huang High School,89,58,0,District,2917,1910635
96,96,Jessica Smith,F,9th,Huang High School,77,72,0,District,2917,1910635
97,97,Dawn Trujillo,F,11th,Huang High School,82,87,0,District,2917,1910635
98,98,Virginia Ramirez,F,10th,Huang High School,99,89,0,District,2917,1910635
99,99,Marc Hernandez,M,10th,Huang High School,87,63,0,District,2917,1910635

In [12]:
studentCount = districtData["Student ID"].count()
studentCount

39170

In [13]:
schoolCount = len(districtData["school_name"].unique())
schoolCount

15

In [14]:
budget = schoolData["budget"].sum()
budgetR = (f"{budget:,}")
budgetR

'24,649,428'

In [15]:
avgRscore = districtData["reading_score"].mean()
avgRscore

81.87784018381414

In [16]:
avgMscore = districtData["math_score"].mean()
avgMscore

78.98537145774827

In [17]:
passingM = districtData[districtData["math_score"] >= 70]
passingR = districtData["reading_score"] >= 70

passingM.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [18]:
passingR = districtData[districtData["reading_score"] >= 70]

passingR.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [19]:
passingMcount = len(passingM)
passingMcount

29370

In [20]:
passingRcount = len(passingR)
passingRcount

33610

In [21]:
totalStudents = districtData["student_name"].count()
totalStudents

39170

In [22]:
passingMpercent = passingMcount / float(totalStudents) * 100
passingRpercent = passingRcount / float(totalStudents) * 100

print(passingMpercent)
print(passingRpercent)

74.9808526933878
85.80546336482001

In [23]:
passingMR = districtData[(districtData["reading_score"] >= 70) & (districtData["math_score"] >= 70)]
passingMRcount = len(passingMR)

In [24]:
passingMRpercent = passingMRcount / float(totalStudents) * 100
passingMRpercent

65.17232575950983

In [25]:
districtSum = pd.DataFrame([{"Total Schools" : schoolCount,
                            "Total Students" : totalStudents,
                           "Total Budget" : budget,
                           "Average Math Score" : avgMscore,
                           "Average Reading Score" : avgRscore,
                           "% Passing Math" : passingMpercent,
                           "% Passing Reading" : passingRpercent,
                           "% Overall Passing" : passingMRpercent}])
districtSum

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [26]:
#creating our first function

def passingMcalc(passingMcount, totalStudents):
    return passingMcount / float(totalStudents) * 100

In [27]:
passingMcalc(passingMcount,totalStudents)

74.9808526933878

In [28]:
districtSum["Total Students"] = districtSum["Total Students"].map("{:,}".format)

In [29]:
districtSum

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170",24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [30]:
districtSum["Total Budget"] = districtSum["Total Budget"].map("${:,.2f}".format)

districtSum

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [31]:
def formAvg(column):
    districtSum[column] = districtSum[column].map("{:.1f}".format)
    
def formPerc(column):
    districtSum[column] = districtSum[column].map("{:.0f}".format)

In [32]:
formAvg("Average Math Score")
formAvg("Average Reading Score")

In [34]:
districtSum

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,74.980853,85.805463,65.172326

In [35]:
formPerc("% Passing Math")

In [36]:
formPerc("% Passing Reading")

In [37]:
formPerc("% Overall Passing")

In [38]:
districtSum

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [39]:
newColumnOrder = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

districtSum = districtSum[newColumnOrder]

districtSum

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65